**Data Types and Structures Questions**

1. What are data structures, and why are they important.



-Data structures are specialized ways of storing and organizing data so that
 they can be used efficiently for different operations (like searching, inserting, deleting, or updating data).


Data Structures are important due to following reasons:

Efficiency
Choosing the right structure speeds up your program.
Example: Finding an item in a set is much faster than in a list.

Memory Optimization
Some structures use less memory for the same data.

Better Problem-Solving
Certain problems need certain structures (e.g., BFS needs a queue, DFS often uses a stack).

Maintainability
Well-structured data makes code easier to understand and maintain.





2.Explain the difference between mutable and immutable data types with examples.

-Mutable data types
 objects whose value can be change after creation without chnging their identity.
 for eg:
 -list
 -Dict
 -set
 -bytearray

 example:
 list1=[1,2,3,4]
 print(list1)
 list1.append(4)   -it will insert 4 in the list1 in last.
 print(list1)

-Immutable Data Types
 obejcts whose value cannot be change after their creation .
 for eg:
 -tuple
 -int
 -float

 eg:
 name="rikshit"
 print(id(name))

 name= name + "nara"
 print(id(name))   #different id new object will create.






3.What are the main differences between lists and tuples in Python3.


-List
 List is collection of different data types elements.
 List is enclosed in [] .
 List is immutable.
 List support indexing.
 List is not hashable.

-Tuple
 Tuple is immutable in nature.
 Tuple also allows duplicacy.
 Tuples are faster than list because they are fixed in size.
 Tuples are enclosed in ().
 Tuples are hashable.







4. Describe how dictionaries store data.


 Dictionaries store data in the form of key value pair.
 eg-
 dict1={"name":"rikshit","email":"rikshitnara@gmail.com"}
 print(dict1)
 dict1.keys()  # Give keys as output.(name,email)
 dict1.values() #Give values as output.(rikshit,rikshitnara@gmail.com)






5. Why might you use a set instead of a list in Python3.

 Set are the used over list because sets are un-ordered collection of elements and main reason of using set is it does not support duplicacy.

 eg:
 set1={1,1,2,2,3,4,4,5,5}
 print(set1)  # {1,2,3,4,5}





6. What is a string in Python, and how is it different from a list3.



 -Strings in python are ordered , immutable collection of sequence of characters while lists are mutable in nature.
 -strings are enclosed in single,double or triple quotes.
 -In strings we cannot change the individual character,entire string needs to   be change.







7.How do tuples ensure data integrity in Python3.
 Tuples ensure data integrity in python beacuse tuples are immutable in nature.Once created we cannot change , add or remove the elements.

 tuple1=(1,2,3,4)
 print(tuple1)
 tuple1[0]=1   #tuple object does not support item assignment.






8.What is a hash table, and how does it relate to dictionaries in Python3.


A hash table is a data structure that stores key–value pairs and uses a hash  function to quickly find the location (index) where each key’s value is stored.

eg:
fruit_colors = {
    "apple": "red",
    "banana": "yellow",
    "grape": "purple"
}

# Lookup (fast because of hashing)
print(fruit_colors["banana"])  # yellow







9. Can lists contain different data types in Python3.

 Yes ,list can store different data types in python3.
 eg:
 list1=[1,2,3,"rixit",2.2,9i+j]


 for i in list1:
  print(i,type(i))







10. Explain why strings are immutable in Python.
 Strings in Python are immutable because once a string object is created, its contents cannot be changed.
 If we want ot change the string entire string needs to be change.






11.What advantages do dictionaries offer over lists for certain tasks.



Dictionaries in Python offer several advantages over lists for certain tasks, mainly because they store key–value pairs and use hashing for super-fast lookups.


Dictionaries automatically ensure key uniqueness, whereas lists allow duplicates without warning.







12.Describe a scenario where using a tuple would be preferable over a list.


A tuple is preferable over a list when you need fixed, read-only data that should never change after creation.


Example Scenario — GPS Coordinates

Here's why a tuple is better:

Data Integrity → Coordinates are immutable, so they can't be accidentally changed.

Hashable → We can use them as dictionary keys or set elements.







13.How do sets handle duplicate values in Python.


In Python, sets automatically remove duplicates because they are unordered collections of unique elements.


When we add elements to a set, Python checks if the element already exists (using hashing and equality checks).

If it already exists, it is not added again — duplicates are silently ignored.

This ensures every element in a set is unique.







14.How does the “in” keyword work differently for lists and dictionaries.


The in keyword is used for membership testing in Python, but it works differently for lists and dictionaries because of how each data structure stores data.

-in with Lists

checks if value is exist in list.

In list in keyword performs linear search .

list1=["banana","mango","apple"]
"apple" in list1  #False
"peach" in list1  #false


-in with Dictionaries

Checks if a key exists in the dictionary (not the value).

To check values, we must use .values() or .items().

dict1={"banana" : 100, "apple" : 120}

print("banana" in prices)  #true

print(100 in dict1.values())   #true









15.Can you modify the elements of a tuple? Explain why or why not.


No — we cannot modify the elements of a tuple in Python because tuples are immutable.


Special Case — Mutable Objects Inside a Tuple

A tuple can contain mutable objects (like lists or dictionaries), and those mutable objects can be modified, but the tuple still can't have its structure changed.

t = (1, [2, 3], 4)
t[1].append(5)  # Modifying the list inside the tuple
print(t)        # (1, [2, 3, 5], 4)








16. What is a nested dictionary, and give an example of its use case.



A nested dictionary in Python is a dictionary inside another dictionary.
It allows you to store data in a hierarchical or multi-level structure.



eg:

employee_details={
  {"ED001":{"name":"rikshit","marks": {"math":50 , "science" :90}},
  {"ED002":{"name":"rohit","marks": {"math":90 , "science" :100}}
}

print(employee_details['ED001']['marks']['math'])







17.Describe the time complexity of accessing elements in a dictionary.


In Python, accessing an element in a dictionary has an average time complexity of O(1) (constant time) because dictionaries are implemented as hash tables.







18.In what situations are lists preferred over dictionaries.


Lists are preferred over dictionaries in Python when you don’t need key–value mapping and you mainly care about maintaining order and working with sequences of items.

eg:
list1["rikshit","harshit","manish"]

print(list1[0])         # "rikhsit"







19.Why are dictionaries considered unordered, and how does that affect data retrieval.



Dictionaries are implemented as hash tables.

When you insert a key_value pair, Python:

Calculates the hash of the key.

Uses that hash to decide where in memory to store the value.

This means the physical storage position depends on the hash, not the order of insertion.




Impact on Data Retrieval

Order should not be relied upon for logic (before Python 3.7 it wasn't preserved at all).

Retrieval is by key, not by position.

Access time is still O(1) on average because of hash lookups.






20.Explain the difference between a list and a dictionary in terms of data retrieval.


-List
 list is use when we want to retrieve data in a sequentail order.
 list objects are accessed through indexing.
 eg:
 list1=["rikshit,"mohir","rohit"]
 print(list1[0])


 -Dictionary
 Dictionaries stores data in the form of key value pairs.
 values are accessed through keys.
 Dictionary are faster than list.

 eg:
 dict1{"name":"rikshit","age" :28}

 print(dict1["name"])    #rikshit

**Practical Questions**

In [1]:
# 1. Write a code to create a string with your name and print it.


name="rikshit"
print(name)

rikshit

In [2]:
#2. Write a code to find the length of the string "Hello World".


string="Hello World"
print(len(string))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".



slice="Python Programming"
print(slice[:3])

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.


string="hello"
print(string.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".


string="I like apple"
new_string=string.replace("apple","orange")

print(new_string)

I like orange

In [12]:
#6. Write a code to create a list with numbers 1 to 5 and print it.



list1=[1,2,3,4,5]
print(list1)
print(type(list1))

[1, 2, 3, 4, 5]
<class 'list'>

In [13]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].


list1=[1,2,3,4]

list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [14]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list2=[1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [15]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].


list3=['a','b','c','d']
list3[1]

'b'

In [18]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].


reverse_list=[10,20,30,40,50]
reverse_list.reverse()
print("reversed list is : ",reverse_list)

reversed list is :  [50, 40, 30, 20, 10]

In [19]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1=(100,200,300)

print(tuple1)

(100, 200, 300)

In [21]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').


tuple2=('red','green','blue','yellow')

print(tuple2[-2])

blue

In [23]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).


tuple3=(10,20,5,15)

print(min(tuple3))

5

In [24]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple4=('dog','cat','rabbit')


tuple4.index("cat")

1

In [25]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.


fruits=("apple","banana","kiwi")

print("kiwi" in fruits)

True

In [26]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.


set1={'a','b','c'}

print(set1)

print(type(set1))

{'c', 'a', 'b'}
<class 'set'>

In [27]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2={1,2,3,4,5}

set2.clear()

print(set2)

set()

In [28]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.


set3={1,2,3,4}

set3.remove(4)

print(set3)

{1, 2, 3}

In [29]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.


set4={1,2,3}

set5={3,4,5}

print(set4.union(set5))

{1, 2, 3, 4, 5}

In [30]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.


set6={1,2,3}

set7={2,3,4}

print(set6.intersection(set7))

{2, 3}

In [31]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.


dict1={"name":"rikshit","age":28,"city":"jaipur"}

print(dict1)

{'name': 'rikshit', 'age': 28, 'city': 'jaipur'}

In [32]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.


dict2={'name': 'John', 'age': 25}

dict2["country"]="USA"

print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict3={'name': 'Alice', 'age': 30}

print(dict3["name"])

Alice

In [34]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}

dict4.pop("age")

print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.


dict5={'name': 'Alice', 'city': 'Paris'}

print("city" in dict5)

True

In [37]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.


new_list=[1,2,3,4]
print(new_list)
print(type(new_list))


print("*"*50)

new_tuple=(1,2,3,4)
print(new_tuple)
print(type(new_tuple))

print("*"*50)

new_dict={"name":"rikshit","age":28}
print(new_dict)

[1, 2, 3, 4]
<class 'list'>
**************************************************
(1, 2, 3, 4)
<class 'tuple'>
**************************************************
{'name': 'rikshit', 'age': 28}

In [40]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

numbers = random.sample(range(1, 101), 5)

numbers.sort()

print(numbers)

[26, 37, 73, 77, 80]

In [41]:
#28. Write a code to create a list with strings and print the element at the third index.

string_list=["apple","banana","mango","orange"]

print(string_list[2])

mango

In [43]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1={"name":"pooja","age":23}
dict2={"love":"true_love","email":"rikshitnara@gmail.com"}

dict1.update(dict2)

print(dict1)

{'name': 'pooja', 'age': 23, 'love': 'true_love', 'email': 'rikshitnara@gmail.com'}

In [45]:
#30. Write a code to convert a list of strings into a set.

list1=["apple","banana","mango"]

new_set=set(list1)

print(new_set)

print(type(new_set))

{'banana', 'apple', 'mango'}
<class 'set'>

                                              ********* Thank You *********